<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Il Mio Sito</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<!-- Content Section -->
	<div class="boxtitle">
		Aggiungi Nuova Opera
	</div>
	<div class="container2 infoBox">
		<form th:action="@{/formNewOpera}" method="post" enctype="multipart/form-data" class="form-signin">
		    <div class="form-group">
		        <label for="titolo">Titolo</label>
		        <input type="text" class="form-control" id="titolo" name="titolo" required>
		    </div>

		    <div class="form-group">
		        <label for="tecnica">Tecnica</label>
		        <input type="text" class="form-control" id="tecnica" name="tecnica" required>
		    </div>

		    <div class="form-group">
		        <label for="annoRealizzazione">Anno Realizzazione</label>
		        <input type="number" id="annoRealizzazione" name="annoRealizzazione" class="form-control" required>
		    </div>

		    <div class="form-group">
		        <label for="collocazione">Collocazione</label>
		        <textarea class="form-control" id="collocazione" name="collocazione" rows="3" required></textarea>
		    </div>

		    <div class="form-group">
		        <label for="artistaId">Artista</label>
		        <select class="form-control" id="artistaId" name="artistaId" required>
		            <option th:each="artista : ${artisti}" th:value="${artista.id}" th:text="${artista.nome}"></option>
		        </select>
		    </div>

		    <div class="form-group">
		        <label for="immagine">Immagine</label>
		        <input type="file" class="form-control" id="immagine" name="immagine" required>
		    </div>

		    <input type="hidden" name="referer" th:value="${referer}">

		    <button type="submit" class="btn btn-primary mt-3">Aggiungi Opera</button>
		</form>


	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
